<tr>
  <td>
    <%= order.full_name %></br>
    <%= order.email %></br>
    <%= order.phone %></br>
  </td>
  <td>
    <%= order.street %></br>
    <%= order.town.name %>, <%= order.town.district_name %>
  </td>
  <td>
    <% order.order_products.each do |order_product| %>
      <span><%= t("admin.product.name") %>:</span><%= order_product.product.name %>
      <span><%= t("admin.product.price") %>:</span><%= number_to_currency order_product.product.price %>
      <span><%= t("admin.product.quantity") %>:</span><%= order_product.quantity %>
      </br>
    <% end %>
  </td>
  <td><%= number_to_currency order.total %></td>
  <td><%= order.note  %></td>
  <td>
    <li class="dropdown">
      <%= link_to("#", class: "dropdown-toggle", role: "button", data:{toggle: "dropdown"}) do %>
        <%= order.status.titleize %> <b class="caret"></b> 
      <% end %>
      <ul class="dropdown-menu">
        <% Order.statuses.keys.each do |status| %>
          <% unless status == order.status %>
            <li>
              <%= link_to admin_orders_path({order_id: order.id, status: status}), remote: true  do %>
                <span><%= status.titleize %></span>
              <% end %>
            </li>
          <% end %>
        <% end %>
      <ul>
    </li>
  </td>
  
</tr>
