<h1><%= t "products.show.cart" %></h1>
<div class="shopping_cart_area">
  <div class="row">
    <div class="col-12">
      <div class="table_desc">
        <div class="cart_page table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"><%= t "products.show.name" %></th>
                <th scope="col"><%= t "products.show.price" %></th>
                <th scope="col"><%= t "products.show.image" %></th>
                <th scope="col"><%= t "products.show.quantity" %></th>
                <th scope="col"><%= t "products.show.total_price" %></th>
                <th scope="col"><%= t "products.show.action" %></th>
              </tr>
            </thead>
            <tbody>
              <% @products_in_cart.each do |product| %>
                <tr id="row-<%= product.id %>">
                  <%= render "cart_sessions/cart_row", product: product %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="coupon_area">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="coupon_code right">
        <h3><%= t "products.show.cart_totals" %></h3>
          <div class="coupon_inner">
            <div class="cart_subtotal">
              <p><%= t "products.show.subtotal" %></p>
              <p id="total" class="cart_amount"><%= into_money_cart %></p>
            </div>
            <div class="checkout_btn">
              <%= link_to t("carts.update.checkout"), "#" %>
            </div>
          </div>
      </div>
     </div>
  </div>
</div>
