<% provide :title, t("user.login.title") %>
<div class="customer_login">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-6">
              <div class="account_form">
                  <h2>login</h2>
                  <%=form_for(@user, as: :user, url: login_path) do |f| %>
                    <%= f.label t("user.email") %>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form_control" %>

                    <%= f.label t("user.login.password") %>
                    <%= f.password_field :password, autocomplete: "current-password", class: "form_control" %>

                    <div class="login_submit">
                      <%= link_to t("user.login.forgot_password"), "#" %>

                      <% if devise_mapping.rememberable? %>
                        <%= f.label :remember_me, class: "checkbox inline" do %>
                            <%= f.check_box :remember_me %>
                            <span><%= t "user.login.remember" %></span>
                        <% end %>
                      <% end %>

                      <%= f.submit t("user.login.title"), class: "btn btn-primary", data: { disable_with: false } %>
                    </div>
                  <% end %>
              </div>
        </div>  
      </div>
  </div>
</div>
<%= render "devise/shared/links" %>
