<% provide :title, t("categories.index.category_product") %>
<div class="shop_area shop_reverse">
  <div class="row">
    <div class="col-lg-3 col-md-12">
      <div class="sidebar_widget">
        <div class="widget_list widget_categories">
          <h2><%= t("categories.index.category_product") %></h2>
          <ul>
            <% @categories.each do |item| %>
              <li><%= link_to item.name, item %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-12">
      <div class="shop_title">
        <h1><%= t "product" %></h1>
      </div>
      <div class="row shop_wrapper grid_4">
        <%= render @products %>
      </div>
      <div class="shop_toolbar t_bottom">
        <div class="pagination">
          <%= paginate @products %>
        </div>
      </div>
    </div>
  </div>
</div>
