<tr>
  <td><%= user.full_name %></td>
  <td><%= user.email %></td>
  <td><%= user.phone %></td>
  <td><%= user.street %></td>
  <td class="text_center"><%= link_to t("user.inactive"), "#", data: { confirm: t("alert.confirm")} %></td>
</tr>
