<% provide :title, t("products.show.detail_product") %>
<div class="breadcrumbs_area product_bread">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb_content">
          <ul>
            <li><%= link_to t("static_pages.home.home") %></li>
            <li>/</li>
            <li><%= t("products.show.detail_product") %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product_details">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5">
        <div class="product-details-tab">
          <div id="img-1" class="zoomWrapper single-zoom">
            <%= product_image @product%>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-7">
        <div class="product_d_right">
          <h1><%= @product.name %></h1>
          <div class="product_price">
            <span class="current_price">
              <%= number_to_currency @product.price %>
            </span>
          </div>
          <div class="product_desc">
            <p><%= @product.description %></p>
          </div>
          <div class="product_variant quantity">
          <% if @product.quantity != 0 %>
            <%= form_tag cart_sessions_path, remote: true do |f| %>
              <label><%= t("products.show.quantity") %></label>
              <%= number_field_tag :quantity, nil, step: 0.1, value: 0.1, required: true, min: 0.1, max:@product.quantity %>
              <%= hidden_field_tag :product_id, nil, value: @product.id %>
              <% if logged_in? %>
                <%= button_tag t("products.show.add_to_cart"), class:  "button" %>
              <% else %>
                <%= link_to t("products.show.request_login"), login_path, class: "button" %>
              <% end %>
            <% end %>
          <% else %>
            <%= button_tag t("products.show.out_of_products"), class: "button" %>
          <% end %>
          </div>
          <div class="priduct_social">
            <h3><%= t("products.show.share_on") %></h3>
            <ul>
              <li>
                <i class="fa fa-rss"></i>
              </li>
              <li>
                <i class="fa fa-vimeo"></i>
              </li>
              <li>
                <i class="fa fa-tumblr"></i>
              </li>
              <li>
                <i class="fa fa-pinterest"></i>
              </li>
              <li>
                <i class="fa fa-linkedin"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
