<div class="cart_area" id="cart_area">
  <div class="cart_link">
    <%= link_to "#" do %>
      <i class="fa fa-shopping-basket"></i>
      <span><%= "#{@carts.count} item" %></span>
    <% end %>
    <!--mini cart-->
    <div class="mini_cart">
      <% @carts.each do |product| %>
      <div class="cart_item bottom">
        <div class="cart_img"><%= image_tag("logo/logo") %></div>
        <div class="cart_info">
          <%= link_to "Food", "#" %>
          <span>
            <%= "#{current_cart[product.id.to_s].round(1)}kg = #{number_to_currency(into_money(product), locale: :vi)}" %>
          </span>
        </div>
      </div>
      <% end %>
      <div class="cart_button view_cart">
        <%= link_to "View Card", "#" %>
      </div>
    </div>
    <!--mini cart end-->
  </div>
</div>
