<div class="footer_top">
  <div class="container">
    <div class="footer_top_inner">
      <div class="row">
        <div class="col-lg-2 col-md-6 col-sm-6 col-6">
          <div class="widgets_container">
            <h3><%= t "information" %></h3>
            <div class="footer_menu">
              <ul>
                <li><%= link_to "About Us", "#" %></li>
                <li><%= link_to "Delivery Information", "#" %></li>
                <li><%= link_to "Privacy Policy", "#" %></li>
                <li><%= link_to "Conditions", "#" %></li>
                <li><%= link_to "Contact Us", "#" %></li>
                <li><%= link_to "Returns", "#" %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-6">
          <div class="widgets_container">
            <h3><%= t "extras" %></h3>
            <div class="footer_menu">
              <ul>
                <li><%= link_to "Brands", "#" %></li>
                <li><%= link_to "Gift Certificates", "#" %></li>
                <li><%= link_to "Affiliate", "#" %></li>
                <li><%= link_to "Specials", "#" %></li>
                <li><%= link_to "Site Map", "#" %></li>
                <li><%= link_to "My Account", "#" %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="widgets_container contact_us">
            <h3><%= t("static_pages.home.contactus") %></h3>
            <div class="footer_contact">
              <p>
                <%= t("static_pages.home.address") %>
              </p>
              <p>
                <%= t("static_pages.home.phone") %>
              </p>
              <p>
                <%= t("static_pages.home.email") %>
              </p>
              <ul>
                <li>
                  <i class="fa fa-twitter"></i>
                </li>
                <li>
                    <i class="fa fa-google-plus"></i>
                </li>
                <li>
                  <i class="fa fa-facebook"></i>
                </li>
                <li>
                 <i class="fa fa-youtube"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="widgets_container newsletter">
            <h3><%= t("static_pages.home.lable_footer") %></h3>
            <div class="newleter-content">
              <p>
                <%= t("static_pages.home.note") %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
