<header class="header_area header_three">
  <div class="header_top">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12">
          <div class="welcome_text">
            <ul>
              <li>
                <span><%= t("static_pages.home.header1") %></span>
              </li>
              <li><span><%= t("static_pages.home.header2") %></span></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-5 col-md-12">
          <div class="top_right text-right">
            <ul>
              <% if logged_in? %>
                <li class="dropdown">
                  <%= link_to("#", class: "dropdown-toggle", role: "button", data:{toggle: "dropdown"}) do %>
                    <%= t "user.account" %> <b class="caret"></b> 
                  <% end %> 
                  <ul class="dropdown-menu">
                    <% if current_user.admin? %>
                      <li><%= link_to t("user.manage.user"), admin_users_path %></li>
                    <% end %>
                    <li><%= link_to t("user.profile.title"), current_user %></li>
                    <li><%= link_to t("orders.title"), "#" %></li>
                    <li><%= link_to t("user.logout.title"), logout_path, method: :delete %></li>
                  </ul>
                </li>
              <% else %>
                <li><%=  link_to t("user.login.title"), login_path %></li>
              <% end %>
                <li><%= link_to t("english"), locale: :en %></li>
                <li><%= link_to t("vietnamese"), locale: :vi %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header_middel">
    <div class="container-fluid">
      <div class="middel_inner">
        <div class="row align-items-center">
          <div class="col-lg-4">
            <% if hidden_with_admin? %>
              <%= render "layouts/search_bar" %>
            <% end %>
          </div>
          <div class="col-lg-4">
            <div class="logo"><%= image_tag("logo/logo") %></div>
          </div>
          <div class="col-lg-4">
            <% if hidden_with_admin? %>
              <%= render "layouts/cart_area" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if hidden_with_admin? %>
    <%= render "layouts/header_bottom" %>
  <% end %>
</header>
