<header class="header_area header_three">
  <div class="header_top">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12">
          <div class="welcome_text">
            <ul>
              <li>
                <span><%= t("static_pages.home.header1") %></span>
              </li>
              <li><span><%= t("static_pages.home.header2") %></span></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-5 col-md-12">
          <div class="top_right text-right">
            <ul>
              <% if logged_in? %>
                <li class="dropdown">
                  <%= link_to("#", class: "dropdown-toggle", role: "button", data:{toggle: "dropdown"}) do %>
                    <%= t "user.account" %> <b class="caret"></b> 
                  <% end %> 
                  <ul class="dropdown-menu">
                    <% if @current_user.admin? %>
                      <li><%= link_to "Manage users", admin_buyers_path %></li>
                    <% end %>
                    <li><%= link_to t("user.profile.title"), current_user %></li>
                    <li><%= link_to "Orders", "#" %></li>
                    <li><%= link_to t("user.logout.title"), logout_path, method: :delete %></li>
                  </ul>
                </li>
              <% else %>
                <li><%=  link_to t("user.login.title"), login_path %></li>
              <% end %>
                <li><%= link_to t("english"), locale: :en %></li>
                <li><%= link_to t("vietnamese"), locale: :vi %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header_middel">
    <div class="container-fluid">
      <div class="middel_inner">
        <div class="row align-items-center">
          <div class="col-lg-4">
            <div class="search_bar">
              <form action="#">
                <input placeholder=" <%=t("static_pages.home.search") %>"
                type="text" />
                <button type="submit">
                  <i class="ion-ios-search-strong"></i>
                </button>
              </form>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="logo"><%= image_tag("logo/logo")%></div>
          </div>
          <div class="col-lg-4">
            <div class="cart_area">
              <div class="cart_link">
                <%= link_to "#" do %>
                  <i class="fa fa-shopping-basket"></i>
                  <span>(2) Item</span>
                <% end%>
                <!--mini cart-->
                <div class="mini_cart">
                  <div class="cart_item top">
                    <div class="cart_img"><%= image_tag("logo/logo") %></div>
                    <div class="cart_info">
                      <%= link_to "Food", "#" %>
                      <span>1x $60.00</span>
                    </div>
                  </div>
                  <div class="cart_item bottom">
                    <div class="cart_img"><%= image_tag("logo/logo") %></div>
                    <div class="cart_info">
                      <%= link_to "Drink", "#" %>
                      <span> 1x $160.00</span>
                    </div>
                  </div>
                  <div class="cart__table">
                    <table>
                      <tbody>
                        <tr>
                          <td class="text-left">Sub-Total :</td>
                          <td class="text-right">$150.00</td>
                        </tr>

                        <tr>
                          <td class="text-left">Total :</td>
                          <td class="text-right">$184.00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="cart_button view_cart">
                    <%= link_to "View Card", "#" %>
                  </div>
                  <div class="cart_button checkout">
                    <%= link_to "Check Out", "#" %>
                  </div>
                </div>
                <!--mini cart end-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header_bottom sticky-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="main_menu_inner">
            <div class="main_menu">
              <nav>
                <ul>
                  <li><%= link_to t("static_pages.home.home"), "#" %></li>
                  <li><%= link_to t("static_pages.home.shop"), "#" %></li>
                  <li><%= link_to t("static_pages.home.aboutus"), "#" %></li>
                  <li><%= link_to t("static_pages.home.blog"), "#" %></li>
                  <li><%= link_to t("static_pages.home.pages"), "#" %></li>
                  <li><%= link_to t("static_pages.home.contactus"), "#" %></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
